executor="slurm"
jobtype="single"
queue="compute"
walltime="10-30:00"
procs=4

commands {
    blastx {
        procs=16
        walltime="10-30:00" 
    }

    blastp {
        procs=16
        walltime="10-30:00" 
    }

    hmmscan {
        procs=16
        walltime="10-30:00"
    }

    transdecoder {
        procs=16
        walltime="10-30:00" 
    }

}

